[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.4.6"
importlib-metadata = "==4.13.0"
kombu = "==4.6.11"
redis = "==3.2.0"

[dev-packages]

[requires]
python_version = "3.7"
